@import url('https://fonts.google.com/specimen/Outfit');
body {
    background-color: hsl(212, 45%, 89%);
    display: grid;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: auto;
  }
  html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

  .card {
    width: 200px;
    height: 350px;
    border-radius: 13px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
    padding: 10px;
    
  }

  .card-cover img {
    width: 200px;
    border-radius: 13px;
  }
  .card-content{
    padding: 0px;
    text-align: center;
    padding: 5px;
  }
  .card-content p{
    color: hsl(220, 15%, 55%);
    font-size: 12px;
  }
  .card-content h4{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
  }
  .attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 20px;
    width: 200px; }
  .attribution a { color: hsl(228, 45%, 44%); }

  @media only screen and (max-width: 375px){
      .card {
        width: 260px;
        height: 360px;
        border-radius: 13px;
        background-color: hsl(0, 0%, 100%);
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
        padding: 10px;
      } 
      .card-cover img {
        width: 240px;
        border-radius: 13px;
      }
      .card-content{
        padding: 0px;
        text-align: center;
        padding: 5px;
      }
  }